<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ggq.mapper.Report_userinfoMapper">
    <resultMap id="BaseResultMap" type="ggq.model.Report_userinfo">
        <constructor>
            <arg column="platform" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="acdate" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="type" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="num" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="datediff" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        </constructor>
    </resultMap>
    <insert id="insert" parameterType="ggq.model.Report_userinfo">
    insert into report_userinfo (platform, acdate, type, 
      num, datediff)
    values (#{platform,jdbcType=VARCHAR}, #{acdate,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{num,jdbcType=INTEGER}, #{datediff,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="ggq.model.Report_userinfo">
        insert into report_userinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="platform != null">
                platform,
            </if>
            <if test="acdate != null">
                acdate,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="num != null">
                num,
            </if>
            <if test="datediff != null">
                datediff,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="platform != null">
                #{platform,jdbcType=VARCHAR},
            </if>
            <if test="acdate != null">
                #{acdate,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="num != null">
                #{num,jdbcType=INTEGER},
            </if>
            <if test="datediff != null">
                #{datediff,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="select" resultType="ggq.model.Report_userinfo">
        select * from report_userinfo limit 1
    </select>
</mapper>